
ul {
    list-style-type: none;
    margin: 0;
    padding: 25;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 5px;
    width: 200px;
    border: 2px solid slategray;
    margin: 10px 25px ;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: slategrey;
    
}



.animate {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.mobileButton {
    background-color: Orange;
    text-align: center;
    border-bottom: solid 5px slategray; 
    width: 100%; 
    height: 100px; 
    padding: 20px;
    font-size: 2em;
    color: #111;
}

@media only screen and (max-width:800px) {
     li a {
         width: 200px;
         margin: 10px 10px ;
     }
   
}
  
@media only screen and (max-width:500px) {
     li a {
        width: 100px;
        margin: 10px 10px ;
    }

}