<ul>
		<li>
			<a href="#fund">Fund</a>
		</li>
		<li>
			<a href="#audit">Audit</a>
		</li>
		<li>
			<a href="#review">Review</a>
		</li>
</ul>
<div id="edTop">
    <div class="sec-pod"><span class="testFont">1a</span></div>
    <div class="sec-podHalf sph1"><span class="testFont">1b</span></div>
    <div class="sec-podHalf sph2"><span class="testFont">1c</span></div>
</div>
<div style="clear:both"></div>
<div id="edBottom">
    <div class="sec-pod"><span class="testFont">2a</span></div>
    <div class="sec-pod"><span class="testFont">2b</span></div>
</div>