table {
    width:100%; 
}

table td {
    border:0px;
}

table tr {
    border: 1px solid lightgray;
}

.container {
    padding: 0% 10%;
}

.detailsContainer, .transactionRow tr, tbody {
    width: 100%;
}
.transactionHeader {
    background-color: gray !important;
    display: flex;
    cursor: pointer;
    height: 3.5em;
}
.transactionHeader:hover {
    border-top: 5px solid gray;
    height: 4em;
}

.transactionRow{
    width: 100%;
    display: inline-flex;
    background-color: rgb(248, 241, 223);
}

.container td{
    width: 20%;
}

.detailsContainer{
    border: 0px 1px 1px 1px solid rgb(35, 34, 48) !important;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 5px;
    
  
}

.transactionDetails, .receiptContainer{
    float: left;
    border-top: 1px solid darkslategray;
    border-bottom: 1px solid darkslategray;
    margin: 10px 0px;
}

.transactionDetails{
    width:69%;
    padding: 2% 1%;
    background: rgb(241, 250, 250);
    border-top: 1px solid darkslategray;
    border-bottom: 1px solid darkslategray;
    margin: 10px 0px;
    margin-right: 1%;
    float: left;
}

.transactionDetails span{
    width: 100%;
}

.receiptContainer{
    width: 30%;
    text-align: center;
}

.approvedTransaction{
border-left: 5px solid green;
}

.rejectedTransaction{
    border-left: 5px solid red;
}

.detailTable {
    background: rgba(255,255,255,0.0);
    border: 0px !important;
}
#dTh1 {
    width: 25%;
}
