<div>
	<ul>
		<li *ngIf="allGrantees && allGrantees.length > 0">
			<a routerLink="grantee">LoginAs</a>
		</li>
		<li>
			<select *ngIf="allGrantees && allGrantees.length > 0" aria-placeholder="Select A Grantee" name="GranteeSelector" id="granteeSelector"
			 [(ngModel)]="grantee" (ngChnage)="UpdateSelectedGrantee(grantee)">
				<option *ngFor="let _grantee of allGrantees" [ngValue]="_grantee">{{_grantee.Name}} {{_grantee.Id}}</option>
			</select>
		</li>
	</ul>
</div>
<div style="clear:both"></div>
<div id="grantTop">
	<div [hidden]="onMobileView()" (click)="togglePod(1)" class="mobileButton">My Transactions</div>
	<div [hidden]="!onMobileView() && displayPod1" class="sec-pod">
		<grantee-transactions *ngIf="grantee" [UpdateSelectedGrantee]="grantee" (updatedTransactions)="onTransactionsUpdated()"></grantee-transactions>
	</div>
	<div *ngIf="!onMobileView()" style="clear:both"></div>
	<div [hidden]="onMobileView()" (click)="togglePod(2)" class="mobileButton"> My Approvals</div>
	<div [hidden]="!onMobileView() && displayPod2" class="sec-pod">
		<grantee-approvals *ngIf="grantee" [SetGranteeId]="grantee.Id"></grantee-approvals>
	</div>
</div>
<div style="clear:both"></div>
<div id="grantBottom">
	<div [hidden]="onMobileView()" (click)="togglePod(3)" class="mobileButton">Grantee Chart</div>
	<div [hidden]="!onMobileView() && displayPod3" class="sec-pod">
		<grantee-chart *ngIf="grantee" [UpdateSelectedGrantee]="grantee" [UpdateTransactions]="updatedTransactions"></grantee-chart>
	</div>
	<div *ngIf="!onMobileView()" style="clear:both"></div>
	<div [hidden]="onMobileView()" (click)="togglePod(4)" class="mobileButton">My Profile</div>
	<div [hidden]="!onMobileView() && displayPod4" class="sec-pod">
			<grantee-chart transactions="grantee" style="background-color: blue; height: 200px; "></grantee-chart>
	</div>
</div>