<div>
	<ul>
		<li>
			<a href="#home" class="animate">Home</a>
		</li>
		<li>
			<a href="#Transactions" class="animate">My Transactions</a>
		</li>
		<li>
			<a href="#Profile">Profile</a>
		</li>
		<li>
			<select aria-placeholder="Select A Grantee" name="GranteeSelector" id="granteeSelector" [(ngModel)]="grantee" (ngChnage)="UpdateSelectedGrantee(grantee)">
				<option *ngFor="let _grantee of GetAllGrantees()" [ngValue]="_grantee">{{_grantee.name}}</option>
			</select>
		</li>
		<li style="float:right">
			<a class="exit" href="#logOut" class="animate">Logout</a>
		</li>
	</ul>
	<form class="use-form">
	</form>

	<div id="grantTop">
		<div [hidden]="onMobileView()" (click)="togglePod(1)" class="mobileButton">Grantee Chart</div>
		<div [hidden]="!onMobileView() && displayPod1" class="sec-pod">
			<grantee-chart *ngIf="grantee" [UpdateSelectedGrantee]="grantee"></grantee-chart>
		</div>
		<div style="clear:both"></div>
		<div [hidden]="onMobileView()" (click)="togglePod(2)" class="mobileButton"> All Grantees Chart</div>
		<div [hidden]="!onMobileView() && displayPod2" class="sec-pod">
			<grantee-chart transactions="grantee" style="background-color: blue; height: 200px; "></grantee-chart>
		</div>
	</div>
	<div style="clear:both"></div>
	<div id="grantBottom">
		<div [hidden]="onMobileView()" (click)="togglePod(3)" class="mobileButton">My Transactions</div>
		<div [hidden]="!onMobileView() && displayPod3" class="sec-pod">
			<grantee-transactions *ngIf="grantee" [UpdateSelectedGrantee]="grantee"></grantee-transactions>
		</div>
		<div style="clear:both"></div>
		<div [hidden]="onMobileView()" (click)="togglePod(4)" class="mobileButton">Approvals</div>
		<div [hidden]="!onMobileView() && displayPod4" class="sec-pod">
			<grantee-approvals></grantee-approvals>
		</div>
	</div>