/* Grantee Menu CSS */

.sec-pod {
    width: 600px; 
    max-width: 600px;
    min-height: 350px !important; 

    outline: 3px solid slategray;
    padding: 20px;
    margin: 30px;
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.mobileButton {
    background-color: Orange;
    text-align: center;
    border-bottom: solid 5px slategray; 
    width: 100%; 
    height: 100px; 
    padding: 20px;
    font-size: 2em;
    color: #111;
}
.animate {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

@media only screen and (max-width:800px) {
    /* For tablets: */
    .sec-pod {
        width: 100%; 
        margin: auto;
        height: 600px !important; 
        /* background-color: blue; */
    }
    
    #grantTop {
        /* background-color: greenyellow; */
    }

}
  
@media only screen and (max-width:500px) {
    /* For mobile phones: */
    .sec-pod {
        width: 100%; 
        margin: auto;
        height: 400px !important; 
        /* background-color: red; */
    }

    #grantBottom {
        /* background-color: orange; */
    }
}
