<figure>
	<figcaption>
		<h2>Reviews</h2>
	</figcaption>
	<table>
		<thead>
			<tr>
				<th>Transaction</th>
				<th>Approval</th>
			</tr>
		</thead>
		<tbody>
			<tr class="selection" *ngFor="let _trans of myApprovals">
				<td>{{_trans.transactionId}}</td>
				<td class="status" [ngSwitch]="_trans.approvalStatus" >
					<span *ngSwitchCase="2" ><button id="approvalButton" class="button awaitingApr" (click)="openDialog(_trans)">Awaiting Approval</button></span>
					<span *ngSwitchCase="0" class="approved">&#9745;</span>
					<span *ngSwitchCase="1" class="rejected">&#9746;</span>
				</td>
			</tr>
		</tbody>
	</table>
</figure>