
#mainBar { background-color: orange;
     width: 100%; 
     Height: 75px;
     border-right: 4px solid #333;
 }

#mainBar div {
    Width: 50%;
    height: 100%;
    text-align: center;
    font-size: 2em;
    border-left: 4px solid #333;
    
    float: left;
    font-size: 1.75em;
    color: #333;
    text-decoration: none;
    padding-top: 25px;
}
 #mainBar div:hover:not(.activeTab) {
Background-color: #333;
color: orange;
}

.mainNav .activeTab {
    Background-color: #333;
    color: orange;
}
 .animate {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
