<div style="clear:both;"></div>
	<div id="mainBar" >
		<div class="menuButton" routerLink="grantee" routerLinkActive="" class="animate">Grantee</div>
		<div class="menuButton" routerLink="education"routerLinkActive="" class="animate">Education</div>
	</div>
	<div style="clear:both;"></div>


	<!-- <div style="clear:both;"></div>
	<div id="mainBar" >
		<ul class="mainNav">
			<li ><a routerLink="grantee" routerLinkActive="" class="animate">Grantee</a> </li>
			<li><a routerLink="education"routerLinkActive="" class="animate">ED</a></li>
		</ul>
	</div>
	<div style="clear:both;"></div> -->