h1 {
    margin: 0;
    padding-left: 1em;
    padding-top: .25em;
    border-bottom: 2px solid orange;
}
.tFormat {
    color: #333;

}
.subTitle {
    color: slategrey;
    margin: 0;
    padding-left: 6em;
    font-style: italic;
}